.App {
  text-align: center;
}

.box {
    border: 1px; 
    margin-top: 30px;
    margin-bottom: 10%;
    font-family: 'Raleway', sans-serif;
}
.box1 {
  border: 1px; 
  margin-top: 30px;
  margin-bottom: 10%;
  font-family: 'Raleway', sans-serif;
  background-color: #3b3a30
}
.bg {
  background-color: #deeaee
}